<div class="jumbotron">
  <h2>Add a new Training</h2>
</div>

<div ng-controller="TrainingCtrl">
  <form novalidate class="simple-form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" placeholder="name of the training" id="name" ng-model="training.name" required /><br />
    </div>
    <input type="hidden" name="created_by" ng-model="training.created_by" value="1" />
    <input type="submit" ng-click="submit()" value="Save" />
  </form>
  <pre>training = {{training | json}}</pre>
</div>
