<div class="jumbotron">
  <h2>Sign up</h2>
</div>

<div class="container">
<div ng-controller="UserCtrl">
  <form novalidate class="simple-form">
    <div class="form-group">
      <label for="username">Name</label>
      <input type="text" class="form-control" placeholder="username" id="username" ng-model="user.name" required /><br />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" placeholder="password" id="password" ng-model="user.password" required /> <br />
    </div>
    <input type="submit" ng-click="submit()" value="Create account" />
  </form>
  <pre>user = {{user | json}}</pre>
</div>
</div>
